## Importing necessary libraries:

In [1]:
from google.colab import drive
import pandas as pd
import numpy as np
from tqdm import tqdm
from time import sleep
drive.mount('/content/drive')

Mounted at /content/drive

## Installing imdbpy

In [2]:
!pip install imdbpy
from imdb import IMDb

Collecting imdbpy
  Downloading https://files.pythonhosted.org/packages/93/49/1d6c29154deed34de46340bf968839a63639f1b23b6f7402b861a222376c/IMDbPY-2021.4.18-py3-none-any.whl (298kB)
     |████████████████████████████████| 307kB 3.0MB/s
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from imdbpy) (4.2.6)
Requirement already satisfied: SQLAlchemy in /usr/local/lib/python3.7/dist-packages (from imdbpy) (1.4.15)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy->imdbpy) (4.0.1)
Requirement already satisfied: greenlet!=0.4.17; python_version >= "3" in /usr/local/lib/python3.7/dist-packages (from SQLAlchemy->imdbpy) (1.1.0)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->SQLAlchemy->imdbpy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->SQLAlchemy->imdbpy) (3.4.1)
Installing collected packages: imdbpy
Successfully installed imdbpy-2021.4.18

## Reading Input:
#### We only do a test run with 100 movie IDs here. you can also pass the whole data as input.

In [12]:
movie_df = pd.read_csv('/content/drive/MyDrive/imdb_datasets/imdb_movies.csv', low_memory=False)
movie_df.set_index('movie_id', inplace=True)
movie_df = movie_df[movie_df['country'].str.contains('USA')]
movie_df = movie_df.sample(100)
movies_index = movie_df.index
movie_df.head()

                             name  ...                                           keywords
movie_id                           ...
tt1877707          The Black Hole  ...                                             school
tt0811106                 The Ten  ...  police-officer,two-word-title,sabbath,surgeon,...
tt2249125  The Los Angeles Ripper  ...                                  keys_not_provided
tt0038157       That's the Spirit  ...                                               wife
tt2293060               Americons  ...                                            journey

[5 rows x 32 columns]

## Using IMDBpy API:
#### please note that it is better to use some sleep time between interations in order to avoid flooding the server with requests. Also, the key to finding movie metadata by this API is to use IMDB movie id. In the form of 'tt-------'. Finally, it is worth mentioning that although we already have some keywords associated with each title in our dataset, this method will yield all available keywords for each movie.

In [13]:
ia = IMDb()
keywords_dict = {}
for movie_index in tqdm(movies_index):
    sleep(0.5)
    try:
        keywords_dict[movie_index] = ia.get_movie_keywords(movie_index[2:])['data']['keywords']
    except:
        keywords_dict[movie_index] = ''

100%|██████████| 100/100 [02:47<00:00,  1.67s/it]

In [14]:
keywords = pd.DataFrame(dict([ (k,pd.Series(v)) for k,v in keywords_dict.items() ])).transpose()
keywords = keywords.apply(lambda x: ','.join(x.dropna()), axis=1)
keywords = pd.DataFrame(keywords) 
keywords.rename(columns={0:'keywords'}, inplace=True)
keywords.index.rename('movie_id', inplace=True)
keywords.to_csv('sample_keywords.csv')
!cp sample_keywords.csv "/content/drive/MyDrive/imdb_datasets"

In [16]:
key_df = pd.read_csv('/content/drive/MyDrive/imdb_datasets/sample_keywords.csv')
key_df[key_df['keywords'].notnull()]

     movie_id                                           keywords
0   tt1877707                                             school
1   tt0811106  police-officer,two-word-title,sabbath,surgeon,...
3   tt0038157                                               wife
4   tt2293060                                            journey
5   tt0016381  b-movie,double-feature-film,race-car-driver,ra...
..        ...                                                ...
93  tt0045502  yuma-arizona,arizona-territory,sonora-mexico,y...
94  tt0034432  murder,assumed-name,small-town,radio-program,b...
95  tt3081722                                         friendship
97  tt0181594  jewish-brigade,israel,refugee,holocaust,palest...
99  tt0076210  anthropomorphic-animal,human-becoming-an-anima...

[74 rows x 2 columns]